.bookmarks {
  display: flex;
  justify-content: center;
  padding: 88px 453px 0 455px;

  &__content {
    &__text {
      h1 {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #8a91ab;

        width: 263px;
      }
    }
    &__img {
      padding: 20px 102px 0 102px;
    }
  }
}
@media screen and (width: 360px) {
  .bookmarks {
    padding: 95px 66px 0 65px;
  }
}
