.searth {
  padding: 80px 321px 0 321px;

  &__form {

    input {
      border-radius: 2px;
      width: 510px;
      height: 56px;
      background: #2a2f45;
      border: none;
    }
    input::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: #8a91ab;

      padding: 18px 0 19px 20px;
    }
  }
}
@media screen and (width: 360px) {
  .searth {
    padding: 20px 20px 0 20px;

    &__form {

      input {
        width: 315px;
      }
    }
  }
}